<a href="https://colab.research.google.com/github/afzal/pytorch-N4/blob/main/colabtutprial_helloworld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

title

In [ ]:
for count in range (3):
    print(f" loop {count}")

 loop 0
 loop 1
 loop 2

In [ ]:
secret = 3731
guess = 0
while ( secret != guess):
    guess = int ( input("guess a n mber" ))
print (" u got it")

guess a nu mber3731
 u got it

In [ ]:
print (" u got it")

 u got it

In [ ]:
def add(number1, number2):
    print(number1 + number2)

add(3, 4)

7

In [ ]:
numbers = [1,20,300,400]
print (numbers)
print (numbers[1])

[1, 20, 300, 400]
20

In [ ]:
numbers = [0, 200, 300, 400]
numbers.append(500)  # Lowercase 'numbers' to match the variable
print(numbers)

[0, 200, 300, 400, 500]

In [ ]:
car = {"make": "Toyota", "color": "blue", "year": 2020}
print (car)
print (car["color"])

{'make': 'Toyota', 'color': 'blue', 'year': 2020}
blue

In [ ]:
person = {"name": "Alex", "age": 25, "city": "New York"}
print(person)
print(person["name"])  # Get the value for the "name" key

{'name': 'Alex', 'age': 25, 'city': 'New York'}
Alex

In [ ]:
for key in person:
  print (key)

name
age
city

In [ ]:
for key in person:
  print(person[key])

Alex
25
city

In [ ]:
for key, value in person.items():
  print(f"{key}:{value}")

name:Alex
age:25
city:city

In [1]:
person = {"name": "Alex", "age": 25, "city": "New York"}
for key, value in person.items():
    if isinstance(value, int ):
        print(f"{key}: {value}")

age: 25